.contactOption>a{
    text-decoration: none;
    color: black;
    border-radius: 30px;
}

.contactOption_wrapper{
    max-width: 250px;
    border-radius:50% ;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to top right, peachpuff, white);
    padding: 15px;
}
.contactOption_wrapper:hover{
    box-shadow: 0 0 20px gray;
}


.contactOption_icon{
    object-fit: contain;
    height:150px !important;
    width: 150px !important;
}

.contactOption_icon:hover{
    height: 200px !important;
    width: 200px !important;
    
}