.header{
    display: flex;
    flex:0.1;
    padding: 20px 40px;
    border-bottom-left-radius: 25px;
    box-shadow: -5px 30px 40px peachpuff;
    height:50px;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color: white ;
    margin-bottom: 5%;
}

.header>h1{
    opacity: .8;
    font-family: 'Cardo', serif;
}



