.projectOption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 400px;
}

.projectOption_body > video{
    object-fit: cover;
    height:200px;
    width: auto;

}