
.sidebarOption_title {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 90px;
}

.sidebarOption_title > h3 {
    display: flex;
    align-items: center;
    color: white;
}
.sidebarOption_title:hover > h3{
    color: black;
}


.sidebarOption_title:hover{
    background-image: linear-gradient(to bottom left,white, peachpuff);
    animation: mymove 2s infinite;
    box-shadow: 0 0 15px gray;
    
}

.sidebarOption_icon{
    object-fit: contain;
    height:40px !important;
    width: 40px !important;
    transition: width 2s, height 4s;
}

.sidebarOption_title:hover > .sidebarOption_icon{
    height:50px !important;
    width: 50px !important;
}