.sidebar{
    flex:0.1;
    padding: 20px 10px;
    border-bottom-left-radius: 25px;
    box-shadow: -5px 30px 40px peachpuff;
    position: sticky;
    top:0;
    z-index: 999;
}
.sidebar_top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sidebar_top >img {
    height: 100px;
    width:auto;
    border-radius: 25%;
    background-image:linear-gradient(to bottom left, white,peachpuff);
    box-shadow: none;
    transition:box-shadow 1s;
}


.sidebar_top > img:hover{
    background-image: linear-gradient(to bottom left, peachpuff,white);
    box-shadow: 0 0 15px gray;
}


.sidebar_bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* box-shadow: 0 0 20px peachpuff; */
}

